.profileScreen{
    height: 100vh;
    color: rgb(241, 11, 11);
    background-color: rgb(6, 6, 6);
}
.profile__logo{
    height: 100px;
    width: 100px;
}
.profileScreen__body{
    position:absolute;
    left: 20%;
    top: 30%;
    display: flex; 
    flex-direction: column;
    margin-left: auto;
    margin-right: ato;
    max-width: 800px;
    padding: 10px;
    background-color: rgb(245, 51, 51);
}
.profileScreen__info{
    display: flex;
}
.profileScreen__body > h1{
    font-size: 1.5rem;
    font-weight: 300;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
}
.profileScreen_details{
    border-radius: 2px;
    margin-left: 10px;
}
.name{
    border : solid 2px rgb(177, 163, 163);
    border: none;
    color: rgb(39, 39, 72);
    font-size: 1.4rem;
    font-weight: 500;
}
.signout__button{
    padding: 10px 16px;
    margin-top: 10px;
    background-color: rgb(198, 194, 194);
    width: 100%;
    cursor: pointer;
    columns: #f7b7b7;
    border: none;
    border-radius: 8px;
}
.profile__plans > h3{
    font-size: 1.2rem;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;

}
